html{
    overflow-y: scroll;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background: url("../images/bf1_weapons.jpg") no-repeat center center fixed;   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}
html.add_products
{
    background: url("../images/bf1_new_background_add.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 80%;
}
body.add
{
    top: 80px;
    width: 350px;
    border-radius: 10px;
}
.fog_one {
    background: url("../images/greyCloud.png") repeat-x;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 1000%;
    opacity: 0.8;
    z-index: -1;
    -webkit-animation: fog_one 120s linear infinite;
    -moz-animation: fog_one 120s linear infinite;
    -o-animation: fog_one 120s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}   

.fog_two {
    background: url("../images/greyCloud.png") repeat-x;
    position: fixed;
    left: 0;
    top: 20%;
    height: 100%;
    width: 1000%;
    z-index: -1;
    -webkit-animation: fog_two 180s linear infinite;
    -moz-animation: fog_two 180s linear infinite;
    -o-animation: fog_two 180s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes fog_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes fog_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes fog_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-moz-keyframes fog_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}
