nav ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444444;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid white;
}

nav ul li {
    float: left;
}

nav ul li:nth-child(even) {background: #333333}

nav ul li:last-child {
    border-right: none;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

nav ul li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
/*select {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    border-radius: 9px;
    background-color: white;
    margin-bottom: 10px;
    color: black;
}
option
{
    text-align: center;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: black;
}
select::-ms-expand { 
    display: none;
}*/
@media screen and (max-width: 600px){
    nav ul li, 
    nav ul li {float: none;}
}

