/* the styles for the html elements */
body {
    position: relative;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 760px;
    margin: 0 auto;
    background-color: white;
    padding: .5em 2em;
    background-color: rgba(0,0,0,0.5);
}
header {
    margin: 0;
    border-bottom: 2px solid white;
}
header h1 {
    margin: 0;
    padding: .5em 0;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    height: 95px;
}
body.add header h1 {
    font-family: 'Oswald', sans-serif;
}
main {
    margin: 0;
}
#desc {
    position: relative;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 350px;
    background-color: black;
    opacity: 0.9;
    margin-bottom: 5px;
}
#desc h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
#desc p {
    font-family: 'PT Sans', sans-serif;
    position: relative;
    color: white;
    size: 12px;
    width: 95%;
    left: 2.5%;
}
.content {
    position: relative;
    display: inline-table;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    background-image: url("../images/bf1_epic_crate.jpg");
    background-size: cover;
    opacity: 1;
}
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid white;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
    color: white;
}
p {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size: 20px;
}
label {
    color: white;
}
h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2.weaponName {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'PT Sans', sans-serif;
    position: relative;
    font-size: 30px;
    display: inline-block;
    margin: 0;
    padding: .25em 0 .5em;
}
h1, h2 {
    color: rgb(208, 133, 4);
}
.content h2 {
    position: relative;
    width:100%;
    text-align: center;
    font-size: 250%;
}
table {
    position: absolute;
    top: 180px;
    left: 148px;
    border: 1px solid rgba(208,133,4,10);
    border-collapse: collapse;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,10);
}
table.avg
{
    top: 245px;
}
h1.avgh1
{
    top: 200px;

}
td, th {
    border: 1px dashed rgba(208,133,4,10);
    box-shadow: 0px 8px 16px 0px rgba(208,133,4,0.2);
    color: rgba(208,133,4,10);
    font-family: 'Ubuntu', sans-serif;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
    font-size: 22px;
}
form {
    margin: 0;
}
br {
    clear: left;
}
/* the styles for classes */
.right {
    text-align: right;
}
.last_paragraph {
    margin-bottom: 2em;	
}
/********************************************************************
* Additional styles for the Product Manager application
********************************************************************/
#add_product_form {
    margin: .5em 0 1em;
}
#add_product_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_product_form input {
    float: left;
}
#add_product_form input[text] {
    width: 15em;
}
/********************************************************************
* Additional styles for Delete button
********************************************************************/
.button {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: 1px solid rgba(208,133,4,10);
    color: rgb(208, 133, 4);
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    box-shadow: 0px 1px 4px 0px rgba(208,133,4,10);
    float:right;
    right: 13px;
    top: 165px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '•';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
/********************************************************************
* Additional styles for update button
********************************************************************/
.update {
    position: relative;
    display: inline-block;
    border-radius: 4px;
    background-color: black;
    border: 1px solid rgba(208,133,4,10);
    color: rgb(208, 133, 4);
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    box-shadow: 0px 1px 4px 0px rgba(208,133,4,10);
    float:left;
    left: 13px;
    top: 165px;
}

.update .uspan {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.update .uspan:after {
    content: '§';
    position: absolute;
    opacity: 0;
    top: -2px;
    right: -20px;
    transition: 0.5s;
}

.update:hover .uspan {
    padding-right: 20px;
}

.update:hover .uspan:after {
    opacity: 1;
    right: 0;
}
/********************************************************************
* Additional styles for add and update button
********************************************************************/
.addButton {
    border-radius: 4px;
    background-color: black;
    border: 1px solid rgba(208,133,4,10);
    color: rgb(208, 133, 4);
    text-align: center;
    font-size: 15px;
    width: 120px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    box-shadow: 0px 1px 4px 0px rgba(208,133,4,10);
    float:left;
    margin-bottom: 70px;
}

.addButton .addspan {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.addButton .addspan:after {
    content: '+';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.addButton:hover .addspan {
    padding-right: 20px;
}

.addButton:hover .addspan:after {
    opacity: 1;
    right: 0;
}
/********************************************************************
* Additional styles for add button
********************************************************************/
.extra {
    position: relative;
    top: 50px;
    left: -235px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid rgba(208,133,4,10);
    color: rgb(208, 133, 4);
    text-align: center;
    font-size: 15px;
    width: 90px;
    height: 25px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    box-shadow: 0px 1px 4px 0px rgba(208,133,4,10);
    float:left;
    margin-bottom: 30px; 
}
.extra:hover {
    background-color: #333333;
}
.extra .extraspan {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    top: 4px;
}