ul.topnav {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
}

ul.topnav li a:hover:not(.active) {background-color: black;}
ul.topnav li a.active:hover {color: black;}

ul.topnav li a.active {background-color: black;}
ul.topnav li a:hover {
    background-color: rgba(208,133,4,10);
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}